$primary-color: #272727;
$secondary-color: #ff652f;
$dark:#1d1b1b;

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@keyframes loading{
    0%{
        transform: scaleX(1);
    }
    30%{
        transform: scaleX(0.4)
    }
    50%{
        transform: scaleX(0.6)
    }
    80%{
        transform:scaleX(0);
    }
    100%{
        transform: scaleX(1)
    }

}

@keyframes blinky{
    0%{
        border-color: $color-fox;
    }
    50%{
        border-color:transparent;
    }
    100%{
        border-color: $color-fox;
    }
}

@keyframes typing{
    0%{
        width:0;
    }
    10%{
        width:45px ;
    }
    20%{
        width: 86px;
    }
    30%{
        width:120px;
    }
    40%{
        width:150px;
    }
    50%{
        width: 170px;
    }
    60%{
        width: 205px;
    }
    70%{
        width:240px;
    }
    80%{
        width: 276px;
    }
    90%{
        width: 310px;
    }
    93%{
        width: 330px;
    }
    
    100%{
        width: 100%;
    }
}

@keyframes shaking {
    0%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    10%{
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    20%{
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    30%{
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    40%{
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50%{
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    60%{
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    70%{
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    80%{
      -webkit-transform: translateY(6.4px);
      transform: translateY(6.4px);
    }
    90%{
      -webkit-transform: translateY(-6.4px);
      transform: translateY(-6.4px);
    }
    100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

@keyframes pulsing {
    0%{
        transform:scale(1.5);
        opacity: .72;
    }
    100%{
        transform:scale(2);
        opacity:0;

    }
}



/* @mixin media-md{
    @media screen and (min-width:980px){
        @content;
    }
}
@mixin media-lg{
    @media screen and (min-width:1024px){
        @content;
    }
}
@mixin media-xl{
    @media screen and (min-width:1600px){
        @content;
    }
} */