*, ::after,::before{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
}
img{
    display: block;	
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
a{
    display: flex;
    text-decoration: none; 
    color:inherit
}
video{
    display: flex;
    object-fit: cover;
    object-position: center center;
}
audio{ 
    display: flex; 
}
p a { 
    display: inline; 
}
li{
    list-style-type: none;
}
table , tr , td {
    border-collapse: collapse;
    border-spacing: 0;
}
html{
    scroll-behavior: smooth;
}

body{ 
    hyphens: auto;
    background-color: $light;

}
h1 , h2, h3 , h4 , h5, h6{ 
    hyphens: auto; 
    color: inherit; 
    font-size:inherit; 
    font-weight: inherit; 
}
form{ input , textarea , select { 
    hyphens: auto; 
    background-color: transparent; 
    appearance: none; 
    display: block; } 
}

.center{
    width: 80%;
    margin: 0 auto
}